@media screen and (max-width: 1292px) {
    .service-box{
        height: 250px;
    }
    .service-box p{
        font-size: 18px;
    }
    .service-box span{
        float: left;
        font-size: 50px;
        color: #6278df;
        margin-bottom: 95px;
        margin-right: 30px;
    }
    .service-box h3 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 1254px) {
    .blog-team img {
        width: 100%;
        float: inherit;
        margin-right: 0;
    }
    .blog-team h3 {
        font-size: 22px;
        text-align: center;
        position: relative;
        top: 15px;
        margin-bottom: 35px;
    }
    .blog-team p {
        font-size: 22px;
        width: 90%;
        margin: auto;
        text-align: center;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 1067px) {
    .service-box{
        height: 240px;
        padding: 30px 20px;
    }
    .header-menu ul li a {
        padding: 0 15px;
        font-size: 15px;
    }
    .service-box span {
        margin-bottom: 105px;
    }
    .header-logo span {
        font-size: 21px;
        margin-top: 7px;
    }
    .header-logo img {
        width: 42px;
    }
    .logo img {
        margin-right: 10px;
    }
    .header-btn {
        font-weight: 700;
        font-size: 17px;
        padding: 8px 35px;
        margin-top: 5px;
    }
    .video-title p {
        font-size: 19px;
    }
    .video-title h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .heading_tag {
        font-size: 50px;
        margin-bottom: 30px;
    }
    .team-heading h2 {
        font-size: 40px;
    }
    .pricing-heading p {
        line-height: 29px;
    }
    .t-content p {
        font-size: 20px;
        line-height: 31px;
    }
}
@media screen and (max-width: 992px) {
    .fixdwidth{
        max-width: 720px;
        padding: 0 25px;
        margin: auto;
    }
    .header-menu {
        display: none;
    }
    .header-button {
        display: none;
    }
    .header-logo {
        width: 218px;
    }
    .menu-bar {
        display: block;
    }
    .service-box {
        width: 48%;
        margin-top: 50px;
    }
    .heading_tag {
        font-size: 35px;
    }
    .heading_title {
        font-size: 25px;
    }
    .heading_title {
        font-size: 20px;
    }
    .pricing-content {
        width: 70%;
        margin: auto;
    }
    .pricing-box {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 40px;
    }
    .video-title p {
        font-size: 16px;
        line-height: 26px;
    }
    .team-meamber-box {
        width: 46%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 35px;
    }
    .team-heading h2 {
        font-size: 30px;
    }
    .blog-title-right {
        width: 100%;
        padding: 0 20px;
        text-align: center;
    }
    .blog-title-left {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .testimonial-box {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }
    .contact-left-map {
        width: 100%;
    }
    .contact-right-form {
        width: 100%;
        margin-top: 30px;
    }
}
@media screen and (max-width: 835px){
    .newslatter-input {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .newslatter-title h2 {
        font-size: 25px;
        margin-top: 30px;
    }
    .newslatter-title p {
        font-size: 20px;
    }
}
@media screen and (max-width: 772px){
    .fixdwidth{
        max-width: 540px;
        padding-left: 0px;
        padding-right: 0px;
        margin: auto;
    }
    .video-title {
        width: 100%;
        margin-top: 45px;
    }
    .video {
        width: 100%;
    }
    .team-meamber-box {
        width: 70%;
        margin-left: 12%;
        margin-bottom: 50px;
    }
    .contact-form .form-btn {
        width: 50%;
        margin-left: 10%;
    }
    .footer-section p {
        font-size: 15px;
    }
    .service-box span {
        font-size: 50px;
        margin-bottom: 10px !important;
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    .service-box {
        width: 100%;
        margin-top: 50px;
    }
    .service-box h3 {
        font-size: 22px;
        text-align: center;
    }
    .service-box p {
        font-size: 18px;
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .heading_tag {
        font-size: 28px;
    }
    .newslatter-input {
        width: 100%;
        margin-bottom: 20px !important;
    }
    .submit-btn {
        margin-left: 10px;
        width: 100%;
    }
    .contact-right-form {
        text-align: center;
    }
    .blog-team-left {
        width: 100%;
        margin-bottom: 30px;
    }
    .blog-team-right {
        width: 100%;
    }
    .pricing-box {
        width: 100%;
        margin-left: 0;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 624px){
    .fixdwidth{
        max-width: 540px;
        padding-left: 20px;
        padding-right: 20px;
        margin: auto;
    }
    .video-title h1 {
        font-size: 35px;
        margin-bottom: 20px;
        text-align: center;
    }
    .heading_tag {
        font-size: 25px;
    }
}
@media screen and (max-width: 600px){
    .banner-section a {
        width: 50%;
        margin-bottom: 20px;
    }
    .banner-section h1 {
        font-size: 45px;
        font-weight: 700;
        margin: 20px 0;
    }
    .contact-form .form-btn {
        width: 70%;
        margin-left: 15%;
    }
    .pricing-content {
        padding: 0 5px;
    }
    .pricing-content {
        width: 100%;
    }
    .team-meamber-box {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 624px){
    .submit-btn {
        font-size: 16px;
        color: #fff;
        padding: 19px 25px;
        border-radius: 10px;
        display: inline-block;
        border: 2px solid #6278df;
        box-shadow: 0 5px 15px 0 rgba(117, 136, 227, 0.1);
        cursor: pointer;
        transition: .5s;
    }
}